<!DOCTYPE html>

<% colors  = ['#283D93', '#A66727', '#249646'] %>
<% borders = ['#7A8EE2', '#FFBD79', '#6EE793'] %>

<html>
	<head>
		<title>Chordite Cheat Sheet</title>
		<style>
      body {
        font-size: 105%;
      }

      table {
        border-collapse: collapse;
      }

      tbody {
        float: left;
        /* padding-left: 2em; */
      }

			td:first-child {
				font: bold 110% sans-serif;
        text-align: right;
        padding: 0 0.6em;
				border-left: #ddd 3px solid;
			}

			td:last-child {
        padding: 0 0.8em 0 0;
				/* border-left: #ddd 2px solid; */
			}

      td:nth-child(2) {
        padding: 0 0 0 0.3em;
      }

      tr {
				border-bottom: #ddd 3px solid;
      }

			td span {
				border: #eee 3px solid;
				width: 0.5em;
				height: 0.5em;
				display: block;
				margin: 0.1em;
			}

			td span + span {
				margin-top: 0.2em;
			}

      td {
        padding: 0.7em 0.1em;
      }

      /* tops */
      <% colors.zip(borders).each_with_index do |cs, i| %>
        tr.row<%= i %> td.top span:first-child {
          border-color: <%= cs.first %>;
          background-color: <%= cs.last %>;
        }
      <% end %>

      /* bottoms */
      <% colors.zip(borders).each_with_index do |cs, i| %>
        tr.row<%= i %> td.bottom span:last-child {
          border-color: <%= cs.first %>;
          background-color: <%= cs.last %>;
        }
      <% end %>

      /* both */
      <% colors.zip(borders).each_with_index do |cs, i| %>
        tr.row<%= i %> td.both span {
          border-color: <%= cs.first %>;
          background-color: <%= cs.last %>;
        }
      <% end %>

		</style>
	</head>

	<body>
		<table>
			<thead></thead>

      <% (outputs.group_by { |s| [1, output_group(s)].max }).each do |group, outs| %>
        <tbody class="group<%= group %>">
          <% num_tr = 0 %>
          <% outs.each do |output| %>
            <tr class="row<%= num_tr % 3 %>">
							<% num_tr += 1 %>

							<% out_str = if output == 'Backspace' then 'Bksp' else output end %>
              <td><%= out_str %></td>
              <% layout[output].chars.each do |c| class_attr = case c
                    when 'v' then 'class="bottom"'
                    when '^' then 'class="top"'
                    when '%' then 'class="both"'
                    else ''
                    end
                  %>
                <td <%= class_attr %>>
                  <span></span>
                  <span></span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
		</table>
	</body>
</html>

